*{
    margin: 0;
}
body{
    background-color: white;
    }

.header{
    background-color: #ff9600;
    border-bottom: 10px solid #b46a00;


}
header{
    font-size: large;
    color: white;
}
header h1{
    padding-top: 10px;
    padding-left: 20px;
}
nav{
    text-align: right;
}
nav li{
    list-style: none;
    display: inline;
    padding: 10px;
    background-color: #b46a00;
}
section{
    padding: 20px;
    text-align: justify;
    float: left;
    width: 50%;
    margin-bottom: 60px;
}
section img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50vw;
}
aside{
    float: right;
    background-color: #b46a00;
    padding: 30px;
    margin-top: 50px;
}
footer{
    clear: both;
    padding: 20px;
    background-color: #ff9600;
    color: white;
    border-top: 10px solid #b46a00;
}
